<a
  href="https://furetechnews.com/how-to-use-angular-material-tooltip-in-angular-14/"
  target="_blank"
>
  How to use Angular Material tooltip in Angular 14?
</a>

<section>
  <h4>Material tooltip position attribute</h4>
  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip after"
    matTooltipPosition="after"
  >
    Tooltip position after
  </button>

  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip before"
    matTooltipPosition="before"
  >
    Tooltip position before
  </button>

  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip above"
    matTooltipPosition="above"
  >
    Tooltip position above
  </button>

  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip below"
    matTooltipPosition="below"
  >
    Tooltip position below
  </button>

  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip left"
    matTooltipPosition="left"
  >
    Tooltip position left
  </button>

  <button
    mat-raised-button
    color="accent"
    matTooltip="Tooltip right"
    matTooltipPosition="right"
  >
    Tooltip position right
  </button>
</section>

<section>
  <h4>Material Tooltip timing attribute</h4>
  <button
    mat-raised-button
    color="primary"
    matTooltip="Delay 500 millisecond to show the tooltip"
    matTooltipHideDelay="500"
  >
    Delayed show tooltip after 500 ms
  </button>

  <button
    mat-raised-button
    color="primary"
    matTooltip="Hide Tooltip after 1000 millisecond after hover away from tooltip"
    matTooltipHideDelay="1000"
  >
    Hide Tooltip after 1000 ms hover away from tooltip
  </button>

  <button
    mat-raised-button
    color="primary"
    matTooltip="Delayed 10 ms show tooltip & hide after 10 ms hover away from it"
    matTooltipShowDelay="10"
    matTooltipHideDelay="10"
  >
    Delayed 10 ms show tooltip & hide after 10 ms hover away from tooltip
  </button>
</section>

<section>
  <h4>Disable mattooltip</h4>
  <button
    mat-raised-button
    matTooltip="Disable tooltip"
    matTooltipDisabled="true"
  >
    Disable Material Tooltip
  </button>
</section>
